@font-face {
  font-family: "playfair";
  src: url(../fonts/Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf);
}
body {
  font-family: "playfair", sans-serif;
  overflow-x: hidden;
}

header {
  height: 64.8px;
  z-index: 1000;
}

.dropdown-toggle:after {
  display: none !important;
}

#menu-icons img {
  width: 20px;
}

.bar4,
.bar5,
.bar6 {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.carousel img {
  height: 89vh;
  object-fit: cover;
}

footer {
  height: 54px;
  font-size: medium;
}

footer img {
  width: 20px;
}

.decreaseButton {
  width: 35.6094px;
}

.cart-content {
  flex-grow: 1;
  overflow-y: auto;
}

.cart-total {
  position: sticky;
  bottom: 0;
  width: 100%;
}

.wishlist-content {
  flex-grow: 1;
  overflow-y: auto;
}

#captionDiv {
  display: flex;
  justify-content: center;
}

#captionTitle {
  font-size: 70px;
}

#captionRelease {
  font-size: 55px;
}

#captionButtons {
  top: 75%;
}

#captionButton {
  width: 170px;
  height: 55px;
}

.checkout-items {
  max-height: 52.5vh;
  overflow-y: auto;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  #cartButton span {
    margin-left: 2.5px;
  }
  #captionDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #captionTitle {
    font-size: 50px;
  }
  #captionRelease {
    font-size: 30px;
  }
  #captionButton {
    width: 125px;
  }
  footer {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #social {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #captionTitle {
    font-size: 60px;
  }
  #captionRelease {
    font-size: 30px;
  }
  #captionButton {
    width: 125px;
  }
  #title {
    font-size: 35px;
  }
}
@media screen and (min-width: 2560px) {
  #captionTitle {
    font-size: 80px;
  }
  #captionRelease {
    font-size: 50px;
  }
  #captionButton {
    width: 125px;
  }
  #title {
    font-size: 35px;
  }
  header {
    height: 5vh;
  }
  .carousel img {
    height: 90vh;
  }
  footer {
    margin-top: 0px;
    height: 5vh;
  }
}
