@font-face {
  font-family: "playfair";
  src: url(../fonts/Nunito/static/Nunito-Light.ttf);
}
body {
  font-family: "playfair", sans-serif;
  overflow-x: hidden;
}

header {
  height: 7.5vh;
}

.dropdown-toggle:after {
  display: none !important;
}

#menu-icons img {
  width: 20px;
}

.bar4,
.bar5,
.bar6 {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.carousel img {
  height: 85vh;
  object-fit: cover;
}

footer {
  height: 7.5vh;
  font-size: medium;
}

footer img {
  width: 20px;
}

.increaseButton:hover {
  background-color: black;
  color: white;
}

.decreaseButton {
  width: 35.6094px;
}

.decreaseButton:hover {
  background-color: black;
  color: white;
}

.cart-content {
  flex-grow: 1;
  overflow-y: auto;
}

.cart-total {
  position: sticky;
  bottom: 0;
  width: 100%;
}

.wishlist-content {
  flex-grow: 1;
  overflow-y: auto;
}

#heart {
  width: 20px;
  transform: translate(0%, -5%);
}

#basket {
  width: 20px;
  margin-right: 2px;
  transform: translate(0%, -10%);
}
