@font-face {
	font-family: 'playfair';
	src: url(../fonts/Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf);
}

body {
	font-family: 'playfair', sans-serif;
	overflow-x: hidden;
}

header {
	height: 7.5vh;
}

.dropdown-toggle:after {
	display: none !important;
}

.dropdown-item {
	background-color: black;
}

#menu-icons img {
	width: 20px;
}

.carousel img {
	height: 85vh;
	object-fit: cover;
}

footer {
	height: 7.5vh;
	font-size: medium;
}

footer img {
	width: 20px;
}
